//colors
$primary: #bec780;
$secondary: rgb(12, 85, 12);
$button-active:rgb(190, 63, 0);

// layout
$header-height: 70px;
$header-height-mobile: 50px;


//fonts 
$primary-font: Avenir,Helvetica,Arial,sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
$logo-font: 'Risque',
cursive;
